*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.keystore
gradle-8.10.2/
gradle-8.10.2-bin.zip
*.onnx
*.onnx.jar
app/build/
app/src/main/assets/sherpa-tts/
