<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:name=".MySpatialApp"
        android:label="@string/app_name"
        android:theme="@style/Theme.SpatialApp">

        <meta-data
            android:name="com.pico.spatial.SPATIAL_APP"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SpatialApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="pico.spatial.windowcontainer.id"
                android:value="MainWindowContainer" />
            <meta-data
                android:name="pico.spatial.windowcontainer.style"
                android:value="1" />
            <meta-data
                android:name="pico.spatial.windowcontainer.defaultsize"
                android:value="1280x720" />
            <meta-data
                android:name="pico.spatial.windowcontainer.defaultsize.unit"
                android:value="dp" />
            <meta-data
                android:name="pico.spatial.windowcontainer.resizetype"
                android:value="1" />
            <meta-data
                android:name="pico.spatial.windowcontainer.resizerestriction"
                android:value="0" />
            <meta-data
                android:name="pico.spatial.windowcontainer.worldscaletype"
                android:value="1" />
            <meta-data
                android:name="pico.spatial.windowcontainer.captionbar"
                android:value="0" />
            <meta-data
                android:name="pico.spatial.windowcontainer.materialbackground"
                android:value="1" />
        </activity>

    </application>

</manifest>